language: php
php:
  - '5.6'
  - '7.0'
allow_failures:
  - php: 7.0
script: 
  -  curl -L https://cs.sensiolabs.org/download/php-cs-fixer-v2.phar -o php-cs-fixer
  -  sudo chmod a+x php-cs-fixer
  -  php php-cs-fixer fix . -vv --dry-run
notifications:
  email:
    - wdelenclos@gmail.com
  slack: esgi-iw:jMKTnfcE3dCoMIaUT3isyCbk